.container-fluid {
    border: none !important;
}

.bg-orange {
    /*background-color: #dd903c;*/
    background-color: darkorange;
}

.nav-link::before {
    transition: 300ms;
    height: 10px;
    content: "";
    position: absolute;
    background-color: #CC6633;
}

.nav-link-ltr::before {
    width: 0%;
    bottom: -25px;
}

.nav-link-ltr:hover::before {
    width: 100%;
}

.border-orange {
    border: 3px solid #dd903c;
}

.shadow-body {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dropdown-menu {
    padding: 0;
}

.dropdown-item {
    color: white;
}

.dropdown-item {
    font-weight: bold;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5%;
}

.dropdown-item:hover {
    color: white;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5%;
    text-align: left;
    background-color: #CC6633;
}

.dropdown-divider {
    margin: 0;
}
